<!DOCTYPE html>
<html lang="en">

<head>
    <title> Random Form </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- bundling with webpack -->
     <script src="dist/app.js"></script>
</head>

<body ng-app="randomForm">
  <div class="header">

       <h1> Random Form </h1>
  </div>
  
  <div class="container" ng-controller="getFormCtrl">
            <!-- Form -->
          <div class="container center"> 
            <button ng-click="getForm()" class="btn">Get Form</button>
            </div>
                     <form  class="myForm" id="{{form_id}}" name="{{form_name}}" >
                        
                        <div ng-repeat="field in fields">
                           <div ng-switch="field.component">
                             <div ng-switch-when="textinput">
                              <label>{{field.label}}
                              <input  ng-required="{{field.required}}" ng-model="field.value" autoselect="{{field.autoselect}}" pattern="{{field.validation}}" description="{{field.description}}" editable="{{field.editable}}" />
                              </label> 
                             </div> 
                             <div ng-switch-when="textarea">
                              <label>{{field.label}}
                              <textarea ng-required="{{field.required}}" pattern="{{field.validation}}" editable="{{field.editable}}"></textarea>
                              </label>
                            </div>
                            <div ng-switch-when="select">
                               <label>{{field.label}}
                                <select description="{{field.description}}" editable="{{field.editable}}">
                                    <div ng-repeat="option in field.options">
                                        <option ng-model="field.value" value={{option}}>{{option}}</option>
                                    </div>
                                </select>
                              
                                </label>
                            </div>
                            <div ng-switch-when="radio">
                              <div ng-repeat="option in field.options" class="radio">
                                <label><input ng-model="field.value" name="$parent.$index" type="radio" value="{{option}}"/>{{option}}</label>
                              </div>
                            </div>
    
                          <div ng-switch-when="checkbox">
                             <label>{{field.label}}
                               <input type="checkbox" description="{{field.description}}" editable="{{field.editable}}" ng-required="{{field.required}}">                                            
                              </label>
                          </div>
                          </div> <!-- End of Switch -->
                        </div>
                       <button type="button" ng-submit="submitForm()" class="btn">Submit Form</button>
                    </form>
        
  </div>

</body>

</html>
