<!DOCTYPE html>
<html lang="en">

<head>
    <title> Random Form </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- bundling with webpack -->
     <script src="dist/app.js"></script>
</head>

<body ng-app="randomForm">
  <div class="header">

       <h1> Random Form </h1>
  </div>
  
  <div class="container" ng-controller="getFormCtrl">
            <!-- Form -->
          <div class="container center"> 
            <button ng-click="clickButton()" class="btn">Get Form</button>
            </div>
                     <form class="myForm" id="{{form_dt.data.data.form_id}}" name="{{form_dt.data.data.form_name}}" >
                        
                        <div ng-repeat="field in form_dt.data.data.form_fields">
                            <label for="lbl">{{field.label}}</label>
                            <input type="{{field.component}}" id="lbl"  ng-required="{{field.required}}" autoselect="{{field.autoselect}}" validation="{{field.validation}}" description="{{field.description}}" editable="{{field.editable}}" />
                       </div>
                       <button type="submit" class="btn">Submit Form</button>
                 
              
                     </form>
           
                    
            
         
        

  </div>

</body>

</html>
