<div class="header">
    
           <h1> Random Form </h1>
      </div>
      
      <div class="container" ng-controller="getFormCtrl">
                <!-- Form -->
              <div class="container center"> 
                <button ng-click="getForm()" class="btn">Get Form</button>
                </div>
                         <form  class="myForm" id="{{form_id}}" name="{{form_name}}" >
                            
                            <div ng-repeat="field in fields">

                              <div ng-switch="field.component">
                                 
                                <!-- When Input is Text Input -->
                                  <div ng-switch-when="textinput">
                                    <h1> Text Input </h1>
                          
                                  <label>{{field.label}}</label> 
                                  <input id="textinput" ng-required="{{field.required}}" ng-model="field.description" autoselect="{{field.autoselect}}" pattern="{{field.validation}}" description="{{field.description}}" editable="{{field.editable}}" />
                                  
                                 </div> 
                                
                                 <div ng-switch-when="textarea">
                                   <h1> Text Area </h1>
                                  <label>{{field.label}}  </label>
                                  <textarea id="textarea" ng-required="{{field.required}}" ng-model="field.description" pattern="{{field.validation}}" editable="{{field.editable}}"></textarea>
                                
                                </div>
                                <div ng-switch-when="select">
                                   <label>{{field.label}}    </label>
                                   
                                        <div ng-repeat="option in field.options">
                                          <select ng-model="field.options" name="$parent.$index" type="select" value="{{option}}"/>{{option}}</select>
                                        </div>
      
                                
                                </div>
                                <div ng-switch-when="radio">
                                  <h1> Radio Buttons</h1>
                                  <label>{{field.description}}</label>
                                  <div ng-repeat="option in field.options" class="radio">
                                   <input id="radio" ng-model="field.options" name="$parent.$index" type="radio" value="{{option}}"/>{{option}}
                                  </div>
                                </div>
        
                              <div ng-switch-when="checkbox">
                                  <span ng-repeat="option in field.options">
                                      <input type="checkbox" ng-checked="response.indexOf(option) !== -1" id="{{option}}" ng-model="selectedList[option]" value="{{option}}"/>
                                      <label for="{{option}}">{{option}}</label>
                                  </span>
                                  </div>
                              </div>
                              </div> <!-- End of Switch -->
                            </div>
                           <button type="button" ng-submit="submitForm()" class="btn">Submit Form</button>
                        </form>
            
      </div>
    